header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.container {
    display: flex;
    justify-content: space-between; /* Pushes the logo and nav to the edges */
    background-color:rgb(255, 245, 255);
    align-items: center; /* Vertically center items */
    padding: 10px 20px; 
    max-width: 100%;
}

.left {
    display: flex;
    align-items: center;
}

.nav {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}

.nav li {
    margin-right: 20px
}

.nav li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(15, 6, 82); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:block;
}
    
.right ul {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.right nav li {
    margin-left: 20px;
    color: rgb(15, 6, 82);
}

.left h1 {
    text-decoration: none; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(214, 105, 62);
    font-size: 30px;
}

.footerContainer {
    display: flex;
    justify-content: space-between; /* Pushes the children (logo and nav) to the edges */
    background-color:rgb(255, 245, 255);
    align-items: center; /* Vertically center items */
    padding: 10px 20px; 
    color: rgb(15, 6, 82); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.footerContainer li {
    color: rgb(15, 6, 82); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    text-decoration: none;
    display: inline;
    justify-content: flex-end;
    align-items: center;
}

.footerContainer li:last-child {
    margin-right: 0; /* Remove margin from the last link to avoid extra spacing */
}