/* Style the banner */
.hero {
    background-image: url(blackAndWhite.jpg); 
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: flex-end; 
    padding: 55px; 
    color: #fff;
    position: relative; 
    z-index: 0;
}


/* Style the hero slogan */
.hero h2 {
    font-size: 40px; /* Adjust the font size for your slogan */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(214, 105, 62); 
    background-color: rgba(255, 245, 255, 0.8); /* Background color with opacity */
    padding: 20px;
    position: absolute; /* Position the slogan absolutely within .hero */
    bottom: 5px; /* Adjust the distance from the bottom */
    right: 20px; /*Adjust the distance from the right*/
    z-index: 10;
}

@media (max-width: 950px) {
    .hero h2 {
        font-size: 20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(214, 105, 62); 
        background-color: rgba(255, 245, 255, 0.8); 
        padding: 20px;
        position: absolute; 
        bottom: 5px;
        right: 20px; 
        z-index: 10;
    }
}

main h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(214, 105, 62);
}

.paragraph-container {
    margin-left: 20px; /* Adjust the value to control the left margin */
    margin-right: 20px; /* Adjust the value to control the right margin */
    margin-bottom: 20px;
}

.paragraph-container p1 {
    text-indent: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color:rgb(15, 6, 82);
}